<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.springboot.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.learn.springboot.entity.SysUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="office_id" property="officeId" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="user_platform_type" property="userPlatformType" jdbcType="CHAR" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="activate_code" property="activateCode" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="weibo" property="weibo" jdbcType="VARCHAR" />
    <result column="sms_code" property="smsCode" jdbcType="VARCHAR" />
    <result column="referrer" property="referrer" jdbcType="VARCHAR" />
    <result column="has_invest" property="hasInvest" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="user_company_person" property="userCompanyPerson" jdbcType="INTEGER" />
    <result column="rqt_unique" property="rqtUnique" jdbcType="VARCHAR" />
    <result column="login_date2" property="loginDate2" jdbcType="TIMESTAMP" />
    <result column="fbaba_uid" property="fbabaUid" jdbcType="VARCHAR" />
    <result column="htang_uid" property="htangUid" jdbcType="VARCHAR" />
    <result column="ztk_uid" property="ztkUid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.learn.springboot.entity.SysUser" extends="BaseResultMap" >
    <result column="img" property="img" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, merchant_id, company_id, office_id, login_name, password, no, name, email, phone, 
    mobile, user_type, user_platform_type, login_ip, ip, login_date, create_by, create_date, 
    update_by, update_date, remarks, del_flag, status, activate_code, qq, weibo, sms_code, 
    referrer, has_invest, channel, user_company_person, rqt_unique, login_date2, fbaba_uid, 
    htang_uid, ztk_uid
  </sql>
  <sql id="Blob_Column_List" >
    img
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.learn.springboot.entity.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.learn.springboot.entity.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.learn.springboot.entity.SysUserExample" >
    delete from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.learn.springboot.entity.SysUser" >
    insert into sys_user (id, merchant_id, company_id, 
      office_id, login_name, password, 
      no, name, email, phone, 
      mobile, user_type, user_platform_type, 
      login_ip, ip, login_date, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag, 
      status, activate_code, qq, 
      weibo, sms_code, referrer, 
      has_invest, channel, user_company_person, 
      rqt_unique, login_date2, fbaba_uid, 
      htang_uid, ztk_uid, img
      )
    values (#{id,jdbcType=VARCHAR}, #{merchantId,jdbcType=INTEGER}, #{companyId,jdbcType=VARCHAR}, 
      #{officeId,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{userType,jdbcType=CHAR}, #{userPlatformType,jdbcType=CHAR}, 
      #{loginIp,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{status,jdbcType=INTEGER}, #{activateCode,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{weibo,jdbcType=VARCHAR}, #{smsCode,jdbcType=VARCHAR}, #{referrer,jdbcType=VARCHAR}, 
      #{hasInvest,jdbcType=INTEGER}, #{channel,jdbcType=INTEGER}, #{userCompanyPerson,jdbcType=INTEGER}, 
      #{rqtUnique,jdbcType=VARCHAR}, #{loginDate2,jdbcType=TIMESTAMP}, #{fbabaUid,jdbcType=VARCHAR}, 
      #{htangUid,jdbcType=VARCHAR}, #{ztkUid,jdbcType=VARCHAR}, #{img,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.learn.springboot.entity.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="officeId != null" >
        office_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userPlatformType != null" >
        user_platform_type,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="loginDate != null" >
        login_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="activateCode != null" >
        activate_code,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="weibo != null" >
        weibo,
      </if>
      <if test="smsCode != null" >
        sms_code,
      </if>
      <if test="referrer != null" >
        referrer,
      </if>
      <if test="hasInvest != null" >
        has_invest,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="userCompanyPerson != null" >
        user_company_person,
      </if>
      <if test="rqtUnique != null" >
        rqt_unique,
      </if>
      <if test="loginDate2 != null" >
        login_date2,
      </if>
      <if test="fbabaUid != null" >
        fbaba_uid,
      </if>
      <if test="htangUid != null" >
        htang_uid,
      </if>
      <if test="ztkUid != null" >
        ztk_uid,
      </if>
      <if test="img != null" >
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="officeId != null" >
        #{officeId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=CHAR},
      </if>
      <if test="userPlatformType != null" >
        #{userPlatformType,jdbcType=CHAR},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null" >
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="activateCode != null" >
        #{activateCode,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="smsCode != null" >
        #{smsCode,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="hasInvest != null" >
        #{hasInvest,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="userCompanyPerson != null" >
        #{userCompanyPerson,jdbcType=INTEGER},
      </if>
      <if test="rqtUnique != null" >
        #{rqtUnique,jdbcType=VARCHAR},
      </if>
      <if test="loginDate2 != null" >
        #{loginDate2,jdbcType=TIMESTAMP},
      </if>
      <if test="fbabaUid != null" >
        #{fbabaUid,jdbcType=VARCHAR},
      </if>
      <if test="htangUid != null" >
        #{htangUid,jdbcType=VARCHAR},
      </if>
      <if test="ztkUid != null" >
        #{ztkUid,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.learn.springboot.entity.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.officeId != null" >
        office_id = #{record.officeId,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null" >
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null" >
        no = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=CHAR},
      </if>
      <if test="record.userPlatformType != null" >
        user_platform_type = #{record.userPlatformType,jdbcType=CHAR},
      </if>
      <if test="record.loginIp != null" >
        login_ip = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDate != null" >
        login_date = #{record.loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.activateCode != null" >
        activate_code = #{record.activateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.weibo != null" >
        weibo = #{record.weibo,jdbcType=VARCHAR},
      </if>
      <if test="record.smsCode != null" >
        sms_code = #{record.smsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.referrer != null" >
        referrer = #{record.referrer,jdbcType=VARCHAR},
      </if>
      <if test="record.hasInvest != null" >
        has_invest = #{record.hasInvest,jdbcType=INTEGER},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=INTEGER},
      </if>
      <if test="record.userCompanyPerson != null" >
        user_company_person = #{record.userCompanyPerson,jdbcType=INTEGER},
      </if>
      <if test="record.rqtUnique != null" >
        rqt_unique = #{record.rqtUnique,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDate2 != null" >
        login_date2 = #{record.loginDate2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fbabaUid != null" >
        fbaba_uid = #{record.fbabaUid,jdbcType=VARCHAR},
      </if>
      <if test="record.htangUid != null" >
        htang_uid = #{record.htangUid,jdbcType=VARCHAR},
      </if>
      <if test="record.ztkUid != null" >
        ztk_uid = #{record.ztkUid,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_user
    set id = #{record.id,jdbcType=VARCHAR},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      office_id = #{record.officeId,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      no = #{record.no,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=CHAR},
      user_platform_type = #{record.userPlatformType,jdbcType=CHAR},
      login_ip = #{record.loginIp,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      login_date = #{record.loginDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER},
      activate_code = #{record.activateCode,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      weibo = #{record.weibo,jdbcType=VARCHAR},
      sms_code = #{record.smsCode,jdbcType=VARCHAR},
      referrer = #{record.referrer,jdbcType=VARCHAR},
      has_invest = #{record.hasInvest,jdbcType=INTEGER},
      channel = #{record.channel,jdbcType=INTEGER},
      user_company_person = #{record.userCompanyPerson,jdbcType=INTEGER},
      rqt_unique = #{record.rqtUnique,jdbcType=VARCHAR},
      login_date2 = #{record.loginDate2,jdbcType=TIMESTAMP},
      fbaba_uid = #{record.fbabaUid,jdbcType=VARCHAR},
      htang_uid = #{record.htangUid,jdbcType=VARCHAR},
      ztk_uid = #{record.ztkUid,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user
    set id = #{record.id,jdbcType=VARCHAR},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      office_id = #{record.officeId,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      no = #{record.no,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=CHAR},
      user_platform_type = #{record.userPlatformType,jdbcType=CHAR},
      login_ip = #{record.loginIp,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      login_date = #{record.loginDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER},
      activate_code = #{record.activateCode,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      weibo = #{record.weibo,jdbcType=VARCHAR},
      sms_code = #{record.smsCode,jdbcType=VARCHAR},
      referrer = #{record.referrer,jdbcType=VARCHAR},
      has_invest = #{record.hasInvest,jdbcType=INTEGER},
      channel = #{record.channel,jdbcType=INTEGER},
      user_company_person = #{record.userCompanyPerson,jdbcType=INTEGER},
      rqt_unique = #{record.rqtUnique,jdbcType=VARCHAR},
      login_date2 = #{record.loginDate2,jdbcType=TIMESTAMP},
      fbaba_uid = #{record.fbabaUid,jdbcType=VARCHAR},
      htang_uid = #{record.htangUid,jdbcType=VARCHAR},
      ztk_uid = #{record.ztkUid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.learn.springboot.entity.SysUser" >
    update sys_user
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="officeId != null" >
        office_id = #{officeId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="userPlatformType != null" >
        user_platform_type = #{userPlatformType,jdbcType=CHAR},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null" >
        login_date = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="activateCode != null" >
        activate_code = #{activateCode,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        weibo = #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="smsCode != null" >
        sms_code = #{smsCode,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        referrer = #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="hasInvest != null" >
        has_invest = #{hasInvest,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="userCompanyPerson != null" >
        user_company_person = #{userCompanyPerson,jdbcType=INTEGER},
      </if>
      <if test="rqtUnique != null" >
        rqt_unique = #{rqtUnique,jdbcType=VARCHAR},
      </if>
      <if test="loginDate2 != null" >
        login_date2 = #{loginDate2,jdbcType=TIMESTAMP},
      </if>
      <if test="fbabaUid != null" >
        fbaba_uid = #{fbabaUid,jdbcType=VARCHAR},
      </if>
      <if test="htangUid != null" >
        htang_uid = #{htangUid,jdbcType=VARCHAR},
      </if>
      <if test="ztkUid != null" >
        ztk_uid = #{ztkUid,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.learn.springboot.entity.SysUser" >
    update sys_user
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=VARCHAR},
      office_id = #{officeId,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=CHAR},
      user_platform_type = #{userPlatformType,jdbcType=CHAR},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      login_date = #{loginDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      activate_code = #{activateCode,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      weibo = #{weibo,jdbcType=VARCHAR},
      sms_code = #{smsCode,jdbcType=VARCHAR},
      referrer = #{referrer,jdbcType=VARCHAR},
      has_invest = #{hasInvest,jdbcType=INTEGER},
      channel = #{channel,jdbcType=INTEGER},
      user_company_person = #{userCompanyPerson,jdbcType=INTEGER},
      rqt_unique = #{rqtUnique,jdbcType=VARCHAR},
      login_date2 = #{loginDate2,jdbcType=TIMESTAMP},
      fbaba_uid = #{fbabaUid,jdbcType=VARCHAR},
      htang_uid = #{htangUid,jdbcType=VARCHAR},
      ztk_uid = #{ztkUid,jdbcType=VARCHAR},
      img = #{img,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learn.springboot.entity.SysUser" >
    update sys_user
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=VARCHAR},
      office_id = #{officeId,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=CHAR},
      user_platform_type = #{userPlatformType,jdbcType=CHAR},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      login_date = #{loginDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      activate_code = #{activateCode,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      weibo = #{weibo,jdbcType=VARCHAR},
      sms_code = #{smsCode,jdbcType=VARCHAR},
      referrer = #{referrer,jdbcType=VARCHAR},
      has_invest = #{hasInvest,jdbcType=INTEGER},
      channel = #{channel,jdbcType=INTEGER},
      user_company_person = #{userCompanyPerson,jdbcType=INTEGER},
      rqt_unique = #{rqtUnique,jdbcType=VARCHAR},
      login_date2 = #{loginDate2,jdbcType=TIMESTAMP},
      fbaba_uid = #{fbabaUid,jdbcType=VARCHAR},
      htang_uid = #{htangUid,jdbcType=VARCHAR},
      ztk_uid = #{ztkUid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 自定义方法 -->
</mapper>